body {
	background-color: red;
}

.main {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr;
}

.top {
	grid-area: 1/1/2/2;
}

.middle {
	grid-area: 2/1/3/2;
	display: flex;
	flex-direction: column;
}

.search {
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 100px;
}

.bottom {
	grid-area: 3/1/4/2;
}
